@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html {
  width: 100vw;
}

body {
  display: none;
  margin: 0;
  padding: 0;
  background: #eeeeee;
  font-family: 'Cinzel Decorative', cursive;
  color: orange;
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.navToggle {
  display: block;
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  right: 13px;
  top: 12px;
  width: 42px;
  height: 51px;
  cursor: pointer;
  z-index: 3;
  background: #666;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;
  /* .navToggleに対して */
  width: 30px;
  border-bottom: solid 3px #eee;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header {
  margin: 7% 0 10% 0;
  text-align: center;
  width: 100vw;
}
.header p {
  margin: 2% 0 0 0;
  padding: 0;
  letter-spacing: 1px;
}
.header .fa-laptop {
  font-size: 300%;
  text-align: center;
}

.header_photo img {
  width: 100%;
}

.two_columnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav {
  position: fixed;
  z-index: 9999;
}
#nav li {
  display: inline;
}
#nav a {
  font-size: 0.6rem;
  border: 1px solid #333;
  padding: 10px 30px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-top: 18px;
  font-family: 'Karma', serif;
}
#nav a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: #333;
  color: #fff;
}

#work01, #work02 {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#work01 img, #work02 img {
  height: auto;
  margin-top: 5%;
  width: 60%;
}

.columnBox {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.columnBox a {
  font-size: 0.6rem;
  border: 1px solid #333;
  padding: 10px 30px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-top: 18px;
  font-family: 'Karma', serif;
}
.columnBox a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: #333;
  color: #fff;
}

.text {
  margin-bottom: 10%;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4px;
}

p {
  font-size: 1rem;
  font-family: "Kokoro";
}

.column01 {
  background-image: url(../images/IMG_6245.JPG);
  background-size: cover;
  color: rgba(255, 255, 255, 0.7);
}

.wrapper {
  margin-top: 150px;
}

ul {
  text-align: center;
}
ul p {
  font-family: YuGothic,'Yu Gothic',sans-serif;
}

.list {
  margin: 50px 50px 50px 50px;
  list-style-type: none;
  overflow: hidden;
}

.list li {
  margin: 50px 20px 50px 20px;
  float: left;
  -webkit-transition: .8s;
  transition: .8s;
}
.list li img {
  width: 80%;
}

.list-mv07 {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.mv07 {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.works {
  margin: 0 auto;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h2:before, h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h2:before {
  left: 0;
}

h2:after {
  right: 0;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  body {
    color: red;
  }
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  body {
    color: blue;
  }
}
@media screen and (min-width: 1281px) {
  body {
    color: pink;
  }
}

/*# sourceMappingURL=main.css.map */