a{
  font-size: 50px;
  text-decoration: none;
  transition: 1.0s;
}
.main{
  p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600px;
    color: rgb(209, 222, 224);
    width: 85%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 80px;
    font-weight: bold;
  }
.name{
    color: black;
    font-weight: bold;
  }
.coder{
    color: rgb(146, 222, 79);
  }
}
.html{
  color: rgb(244, 41, 0);
}
.css{
  color: rgb(0, 110, 186);
}
.js{
  color: rgb(245, 190, 24);
}
.websites{
  color: rgb(111, 190, 247);
}
.appeal{
  color: rgb(225, 46, 141);
}
.fin{
  color: rgb(32, 38, 143);
}
